<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ '/pychina.png'|asseturl }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}" />
    <link rel="stylesheet" href="{{ '/static/custom.css'|url }}" />
    <title>{% block title %}Welcome{% endblock %} | PyConChina 2023</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      {% include "components/nav.html" %}
      <main class="mx-auto w-full lg:w-3/4 py-2 px-8 grow flex flex-col gap-2">{% block body %}{% endblock %}</main>
      {% include "components/footer.html" %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
