.text-shadow {
  text-shadow: -1px -1px 0 #ffbb06, 1px -1px 0 #ffbb06, -1px 1px 0 #ffbb06, 1px 1px 0 #ffbb06;
}
.hover\:text-shadow:hover {
  text-shadow: -1px -1px 0 #ffbb06, 1px -1px 0 #ffbb06, -1px 1px 0 #ffbb06, 1px 1px 0 #ffbb06;
}

.menu {
  position: relative;
}

.menu-item {
  position: absolute;
  top: 100%;
  display: none;
  white-space: nowrap;
  min-width: 100%;
  text-align: center;
}

.menu:hover .menu-item {
  display: block;
}

body {
  background-image: url('./pattern.png');
  background-repeat: repeat;
  background-size: 2rem;
}

/* Blinking cursor */
#code:after{
  content: "|";
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.breadcumb > *::before {
  content: "/";
  padding: 0 0.5rem;
}

.breadcumb > a {
  transition: all 0.3s;
  color: white;
}

.breadcumb > a:hover {
  color: #aaa;
}

.breadcumb > span {
  color: #aaa;
}

.partners img { display: inline-block; height: 6rem; }
.partners img+img { margin-left: 1rem; }
